$slice-size-mob: 36vh;
$slice-size-normal: 60vh;

#app {
    font-family:
      'Quicksand',
      'Source Sans Pro',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #49c79e; // TODO maybe this should be in the theme
  }
  
html {
  background-color: black;
  color: #49c79e;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
}

.main-content {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  &.centred {
    align-items: center;
  }
  .centred-text {
    text-align: center;
  }
}

.c-title {
  display: block;
  font-weight: 300;
  font-size: calc(max(9vw, 50px));
  // letter-spacing: 1px;
}

.c-subtitle {
  font-weight: 300;
  font-size: calc(max(3vw, 20px));
  // word-spacing: 5px;
  padding-bottom: 15px;
}
